---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import type { InferGetStaticPropsType } from 'astro';
import { route } from '../../utils/routes';
import type { RouteLocale, RouteTranslations } from '../../utils/routes';

export const getStaticPaths = async () => {
	return route().locale().build<RouteLocale & RouteTranslations>();
};

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { translations, locale } = Astro.props as Props;

---

<DefaultLayout translations={translations} currentLocale={locale}>
	<h1>Start</h1>
</DefaultLayout>
