---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import type { InferGetStaticPropsType } from 'astro';
import { indexPaths } from '../_paths';

export const getStaticPaths = indexPaths();

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { translations, locale } = Astro.props as Props;

---

<DefaultLayout translations={translations} currentLocale={locale}>
	<h1>Start</h1>
</DefaultLayout>
