---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import config from '../../../astro.config.mjs';
import type { GetStaticPaths } from 'astro';

export const getStaticPaths = (async () => {
  if(!config.i18n) throw new Error('i18n config is required');

	const locales = config.i18n.locales as string[];

	return locales.map((l) => {
		const locale = l === config.i18n?.defaultLocale ? undefined : l;
		return { params: { locale }, props: { locale: l } };
	});

}) satisfies GetStaticPaths;

---

<DefaultLayout>
	<h1>Astro</h1>
</DefaultLayout>
