---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import type { InferGetStaticPropsType } from 'astro';
import { buildPageRoute } from '../../utils/pageRoutes';
import type { PageRouteLocale, PageRouteTranslations } from '../../utils/pageRoutes';

export const getStaticPaths = async () => {
	return buildPageRoute().locale().build<PageRouteLocale & PageRouteTranslations>();
};

type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { translations, locale } = Astro.props as Props;

---

<DefaultLayout translations={translations} currentLocale={locale}>
	<h1>Start</h1>
</DefaultLayout>
