---
import type { InferGetStaticPropsType } from 'astro';
import DefaultLayout from '../../../layouts/DefaultLayout.astro';
import { getContentEntryPath } from '../../../utils/i18n';
import { getCollection } from 'astro:content';
import { indexPaths } from '../../_paths';

export const getStaticPaths = indexPaths('projects');

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { translations, locale } = Astro.props as Props;

const projects = await getCollection('projects');
---

<DefaultLayout translations={translations} currentLocale={locale}>
	<h1>Projekte</h1>
  <ul>
    {
      projects.map(async (project) => {
        const p = project.data;
        if (!p) return undefined;
        return <li>
          <a href={await getContentEntryPath('projects', project.slug)}>
            {p.title}
          </a>
        </li>
      }).filter(Boolean)
    }
  </ul>
</DefaultLayout>
