---
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import { parseLocale, useTranslations } from "../../../utils/i18n";
import { getCollection } from "astro:content";
import SinglePaneContent from "../../../layouts/sections/SinglePaneContent.astro";
import {
  generateGetStaticIndexPaths,
  defaultPropsAndParamsOptions,
} from "../../../utils/paths";
import { i18nProps } from "astro-loader-i18n";
import sluggify from "limax";

export const getStaticPaths = generateGetStaticIndexPaths(
  "[...locale]/[projects]",
);

const {
  translations,
  data: { locale },
} = Astro.props;
const collection = await getCollection("projects");
const projects = i18nProps(collection, {
  ...defaultPropsAndParamsOptions,
  routePattern: `${Astro.routePattern}/[project]`,
  generateSegments: (entry) => ({ project: sluggify(entry.data.title) }),
});
const t = useTranslations(parseLocale(locale));
---

<DefaultLayout translations={translations}>
  <SinglePaneContent>
    <h1>{t("pages.projects")}</h1>
    <ul>
      {
        projects
          .map(({ translatedPath, data: { title } }) => {
            return (
              <li>
                <a href={translatedPath}>{title}</a>
              </li>
            );
          })
          .filter(Boolean)
      }
    </ul>
  </SinglePaneContent>
</DefaultLayout>
