---
import type { InferGetStaticPropsType } from 'astro';
import DefaultLayout from '../../../layouts/DefaultLayout.astro';
import { getContentEntryPath, getLocaleFromUrl, useTranslations } from '../../../utils/i18n';
import { getEntry, getCollection } from 'astro:content';
import { indexPaths } from '../../_paths';
import SinglePaneContent from '../../../layouts/sections/SinglePaneContent.astro';

export const getStaticPaths = indexPaths('projects');

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { translations } = Astro.props as Props;
const projects = await getCollection('projects');
const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);

---

<DefaultLayout translations={translations}>
  <SinglePaneContent>
    <h1>{t('pages.projects')}</h1>
    <ul>
      {
        projects.map(async (project) => {
          const p = project.data;
          if (!p) return undefined;
          return <li>
            <a href={getContentEntryPath(await getEntry('projects', project.id))}>
              {p.title}
            </a>
          </li>
        }).filter(Boolean)
      }
    </ul>
  </SinglePaneContent>
</DefaultLayout>
