---
import DefaultLayout from "../../../../layouts/DefaultLayout.astro";
import { Image } from "astro:assets";
import SinglePaneContent from "../../../../layouts/sections/SinglePaneContent.astro";
import CardList from "../../../../components/CardList.astro";
import { getCollection } from "astro:content";
import { i18nPropsAndParams } from "astro-loader-i18n";
import { defaultPropsAndParamsOptions, resolvePath } from "../../../../utils/paths";

export const getStaticPaths = async () => {
  const routePattern = "[...locale]/[gallery]/[category]";
  const collection = await getCollection("gallery");

  return i18nPropsAndParams(collection, {
    ...defaultPropsAndParamsOptions,
    routePattern,
    slugParamName: "category",
  });
};

const {
  translations,
  translatedPath,
  data: { title, images },
} = Astro.props;
---

<style>
  :global(.grid) {
    display: grid !important;
    grid-template-columns: repeat(2, minmax(320px, 1fr));
    gap: 1rem;
  }
</style>

<DefaultLayout translations={translations}>
  <SinglePaneContent>
    <h1>{title}</h1>
    <CardList classNames="grid">
      {
        images.map((image, index) => (
          <li>
            <a
              href={resolvePath(translatedPath, index.toString())}
            >
              <Image
                src={image.src}
                alt={`Photo: ${image.title}`}
                width={320}
              />
            </a>
          </li>
        ))
      }
    </CardList>
  </SinglePaneContent>
</DefaultLayout>
