---
---

<ul>
  <li class="dropdown">
    <button><slot name="button" /></button>
    <ul>
      <slot />
    </ul>
  </li>
</ul>

<style>
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dropdown {
    position: relative;
  }

  .dropdown button, .dropdown button span {
    display: flex;
    align-items: center;
    gap: 0.2rem;
  }

  .dropdown button :global(span) {
    align-items: center;
    gap: 0.3rem;
  }

  .dropdown ul {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
  }

  .dropdown:hover :global(ul),
  .dropdown:focus-within :global(ul) {
    opacity: 1;
    visibility: visible;
  }

  .dropdown :global(li a) {
    display: block;
  }

  .dropdown :global(li.active) {
    background-color: var(--dark-color);
  }

  .dropdown :global(ul) {
    display: block;
  }
</style>
