---
import { Image } from "astro:assets";
import Link from "./Link.astro";
import type { ImageMetadata } from "astro";

type Props = {
  items: Array<{
    path: string;
    title: string;
    icon?: ImageMetadata;
  }>
};

const { items } = Astro.props;
---

<style>
  nav ul, nav ul li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
</style>

<nav class="rounded">
  <ul>
    {
      items.map((item) => (
        <li>
          <Link href={item.path}>
            {item.icon ? (
              <Image src={item.icon} alt={`${item.title} Icon`} width="16" />
            ) : null}
            {item.title}
          </Link>
        </li>
      ))
    }
  </ul>
</nav>
