---
import type { Page } from 'astro'
import Button from './Button.astro';
import { parseLocale, useTranslations } from '../utils/i18n';

type Props = {
  page: Page;
}

const { page } = Astro.props;
const t = useTranslations(parseLocale(Astro.currentLocale));

---

<style>
  div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin: 1rem 0;
  }
</style>

<div>
  {page.url.prev ? <Button href={page.url.prev}>{t('pagination.previous')}</Button> : null}
  <span>{t('pagination.pageOf', {'current': page.currentPage, 'total': page.lastPage})}</span>
  {page.url.next ? <Button href={page.url.next}>{t('pagination.next')}</Button> : null}
</div>
