---
import defaultCover from "../assets/default-cover.jpg";
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

type Props = {
  title: string;
  cover?: { alt?: string; src: ImageMetadata };
  publishedAt: Date;
  locale: string;
  translatedPath: string;
};

const { title, cover, publishedAt, locale, translatedPath } = Astro.props;
---

<style>
  div {
    position: relative;
  }
  a {
    display: block;
    position: relative;
    width: 100%;
  }

  img {
    max-width: 100%;
    max-height: 20rem;
    object-fit: cover;
  }

  a > div {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    color: var(--white-color);
  }

  a > div > div {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
    border: solid 3px var(--dark-color);
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    text-align: center;
    transition: 0.4s;
  }

  a:hover > div > div {
    padding: 1.5rem 3rem;
  }

  h3 {
    color: var(--white-color);
    margin: 0;
  }
</style>

<div>
  <a href={translatedPath}>
    <Image
      src={cover?.src || defaultCover}
      alt={cover?.alt || title}
      widths={[720]}
    />
    <div>
      <div>
        <h3>{title}</h3>
        <div class="date">
          {
            `${new Date(publishedAt).toLocaleDateString(locale)} ${new Date(publishedAt).toLocaleTimeString(locale)}`
          }
        </div>
      </div>
    </div>
  </a>
</div>
