.search {
  position: relative;
}

.search input[type="search"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid var(--gray-color);
  border-radius: 0.25rem;
}

.search ul {
  list-style: none;
  display: none;
  visibility: hidden;
  position: absolute;
  z-index: 1;
  padding: 0;
  margin: 0;
}

.search:focus-within ul {
  display: block;
  visibility: visible;
  background-color: var(--dark-color);
}

.search li {
  padding: 0.5rem;
}

.search ul a {
  text-decoration: none;
  color: var(--white-color);
}

.search ul p {
  margin: 0;
}
