---
import { parseLocale, useTranslations } from '../../utils/i18n';
import { getCollection } from 'astro:content';
import PostCard from '../../components/PostCard.astro';
import CardList from '../../components/CardList.astro';

type Props = {
  locale: string;
}

const locale = parseLocale(Astro.props.locale);
const t = useTranslations(parseLocale(locale));

const posts = (await getCollection('blog')).reverse().slice(0, 3);

---

<style>
  section :global(ul) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
  }
</style>

<section>
  <h2>{t('sections.latestPosts')}</h2>
  <CardList>
    {posts.map(async (post) => (
      <li>
        <PostCard post={post} locale={locale} />
      </li>
    ))}
  </CardList>
</section>
