@font-face {
  font-family: 'Playfair Display Variable';
  font-style: normal;
  font-display: optional;
  font-weight: 400 900;
  src: url(@fontsource-variable/playfair-display/files/playfair-display-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Dosis Variable';
  font-style: normal;
  font-display: optional;
  font-weight: 200 800;
  src: url(@fontsource-variable/dosis/files/dosis-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

@font-face {
  font-family: 'Fira Code Variable';
  font-style: normal;
  font-display: optional;
  font-weight: 300 700;
  src: url(@fontsource-variable/fira-code/files/fira-code-latin-wght-normal.woff2) format('woff2-variations');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

:root {
  --white-color: #EEEEEE;
  --gray-color: #686D76;
  --dark-color: #373A40;
  --primary-color: #DC5F00;
  --secondary-color: #f7bf94;
  --font-heading: 'Playfair Display Variable', serif;
  --font-text: 'Dosis Variable', sans-serif;
  --font-monospace: 'Fira Code Variable', monospace;
  --font-size: 14px;
}

html {
  height: 100%;
}

body {
  font-family: var(--font-text);
  font-size: var(--font-size);
  margin: 0;
  min-height: 100%;
}

h1, h2, h3, h4, h5, h6, .title {
  font-family: var(--font-heading);
}

code {
  font-family: var(--font-monospace);
}
