---
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import { parseLocale, useTranslations } from "../../../utils/i18n";
import { getCollection } from "astro:content";
import SinglePaneContent from "../../../layouts/sections/SinglePaneContent.astro";
import GalleryCard from "../../../components/GalleryCard.astro";
import CardList from "../../../components/CardList.astro";
import { generateGetStaticIndexPaths } from "../../../utils/paths";

export const getStaticPaths = generateGetStaticIndexPaths(
  "[...locale]/[gallery]",
);
const { translations } = Astro.props;

const locale = parseLocale(Astro.props.data.locale);
const collection = await getCollection("gallery", (category) => category.data.locale === locale);
const t = useTranslations(locale);
---

<DefaultLayout translations={translations}>
  <SinglePaneContent>
    <h1>{t("pages.gallery")}</h1>
    <CardList>
      {
        collection
          .map((category) => {
            return <GalleryCard category={category} locale={locale} />;
          })
          .filter(Boolean)
      }
    </CardList>
  </SinglePaneContent>
</DefaultLayout>
