---
import DefaultLayout from "../../../layouts/DefaultLayout.astro";
import { parseLocale, useTranslations } from "../../../utils/i18n";
import { getCollection } from "astro:content";
import SinglePaneContent from "../../../layouts/sections/SinglePaneContent.astro";
import GalleryCard from "../../../components/GalleryCard.astro";
import CardList from "../../../components/CardList.astro";
import { generateGetStaticIndexPaths, resolvePath } from "../../../utils/paths";
import slug from "limax";
import { C } from "../../../configuration";

export const getStaticPaths = generateGetStaticIndexPaths(
  "[...locale]/[gallery]",
);
const { translations } = Astro.props;

const locale = parseLocale(Astro.props.data.locale);
const localeParam = locale === C.DEFAULT_LOCALE ? undefined : locale;
const collection = await getCollection(
  "gallery",
  (category) => category.data.locale === locale,
);
const t = useTranslations(locale);
---

<DefaultLayout translations={translations}>
  <SinglePaneContent>
    <h1>{t("pages.gallery")}</h1>
    <CardList>
      {
        collection
          .map(({ data: { cover, title } }) => {
            if (typeof title !== "string") {
              return null;
            }
            const url = resolvePath(localeParam, Astro.params.gallery, slug(title));
            return <GalleryCard title={title} cover={cover} translatedPath={url} />;
          })
          .filter(Boolean)
      }
    </CardList>
  </SinglePaneContent>
</DefaultLayout>
