---
import type { InferGetStaticPropsType } from 'astro';
import DefaultLayout from '../../../layouts/DefaultLayout.astro';
import { useTranslations } from '../../../utils/i18n';
import { getCollection } from 'astro:content';
import { indexPaths } from '../../_paths';
import SinglePaneContent from '../../../layouts/sections/SinglePaneContent.astro';
import GalleryCard from '../../../components/GalleryCard.astro';
import CardList from '../../../components/CardList.astro';

export const getStaticPaths = indexPaths('gallery');
type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { translations, locale } = Astro.props as Props;
const gallery = await getCollection('gallery');
const t = useTranslations(locale);

---

<DefaultLayout translations={translations}>
  <SinglePaneContent>
    <h1>{t('pages.gallery')}</h1>
    <CardList>
      {
        gallery.map(async (category) => {
          return <GalleryCard category={category} locale={locale} />;
        }).filter(Boolean)
      }
    </CardList>
  </SinglePaneContent>
</DefaultLayout>
