---
import LanguageSwitcher from '../components/LanguageSwitcher.astro';


type Props = {
  translations?: Record<string, string>;
  currentLocale?: string;
}

const { translations, currentLocale } = Astro.props;
---
<html>
  <head>
    <style is:global>
      html {
        height: 100%;
      }

      body {
        margin: 0;
        min-height: 100%;
        display: flex;
        flex-direction: column;
      }

      main {
        flex-grow: 1;
      }

      header, footer {
        background-color: #DDD;
        height: 4rem;
      }
    </style>
  </head>
  <body>
    <header>
      Header
      <LanguageSwitcher translations={translations} currentLocale={currentLocale} />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      Footer
    </footer>
  </body>
</html>
