---
import './layouts';
import './DefaultLayout.css';
import { getLocaleFromUrl } from '../utils/i18n.ts';
import Head from './groups/Head.astro';
import TopBar from './groups/TopBar.astro';
import Footer from './groups/Footer.astro';
import Header from './groups/Header.astro';
import BottomBar from './groups/BottomBar.astro';

type Props = {
  translations?: Record<string, string>;
}

const locale = getLocaleFromUrl(Astro.url);
const { translations } = Astro.props;
---
<html lang={locale}>
  <Head translations={translations} />
  <body>
    <TopBar />
    <Header translations={translations} />
    <main data-pagefind-body transition:animate="fade">
      <slot />
    </main>
    <Footer />
    <BottomBar />
  </body>
</html>
