
html {
  height: 100%;
}

body {
  font-family: var(--font-text);
  margin: 0;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

main {
  flex-grow: 1;
}

header, footer {
  background-color: var(--gray-color);
  color: var(--white-color);
  height: 4rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}

code {
  font-family: var(--font-monospace);
}
