---
import './layouts';
import './DefaultLayout.css';
import LanguageSwitcher from '../components/LanguageSwitcher.astro';
import { getLocaleFromUrl, useTranslations } from '../i18n';
import { getRelativeLocaleUrl } from 'astro:i18n';
import { C } from '../configuration';

type Props = {
  translations?: Record<string, string>;
  currentLocale?: string;
}

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
const { translations, currentLocale } = Astro.props;
---
<html lang={locale}>
  <head>
  </head>
  <body>
    <header>
      <a href={getRelativeLocaleUrl(locale)} class="title" set:html={t('site.title')}></a>
      <LanguageSwitcher translations={translations} currentLocale={currentLocale || C.DEFAULT_LOCALE} />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      Footer
    </footer>
  </body>
</html>
