body {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

main {
  flex-grow: 1;
}

header, footer {
  background-color: var(--gray-color);
  color: var(--white-color);
}

header {
  height: 5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .title {
  font-size: 1.5rem;
  text-decoration: none;
}

header .title span {
  font-size: 1rem;
  line-height: 1rem;
  display: block;
}

header .title:visited {
  color: var(--white-color);
}

header a:link {
  color: var(--white-color);
}

header a:visited {
  color: var(--secondary-color);
}

footer {
  display: flex;
  align-items: center;
  height: 3rem;
}

.padded, header, main, footer {
  padding: 0 10%;
}
