---
import LanguageSwitcher from '../components/LanguageSwitcher.astro';
import { getLocaleFromUrl, useTranslations } from '../i18n';

type Props = {
  translations?: Record<string, string>;
  currentLocale?: string;
}

const locale = getLocaleFromUrl(Astro.url);
const t = useTranslations(locale);
const { translations, currentLocale } = Astro.props;
---
<html lang={locale}>
  <head>
    <style is:global>
      html {
        height: 100%;
      }

      body {
        margin: 0;
        min-height: 100%;
        display: flex;
        flex-direction: column;
      }

      main {
        flex-grow: 1;
      }

      header, footer {
        background-color: #DDD;
        height: 4rem;
      }
    </style>
  </head>
  <body>
    <header>
      <div id="site-title">{t('site.title')}</div>
      <LanguageSwitcher translations={translations} currentLocale={currentLocale} />
    </header>
    <main>
      <slot />
    </main>
    <footer>
      Footer
    </footer>
  </body>
</html>
