body {
  display: flex;
  flex-direction: column;
  background-color: var(--white-color);
}

main {
  flex-grow: 1;
}

header, footer {
  background-color: var(--gray-color);
  color: var(--white-color);
  height: 4rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .title {
  font-size: 1.5rem;
}

.padded, header {
  padding: 0 10%;
}
