---
import Link from '../../components/Link.astro';
import type { Locale } from '../../configuration';
import { N } from '../../navigation';

type Props = {
  locale: Locale;
};

const { locale } = Astro.props;
---
<footer>
  <nav class="rounded">
    <ul>
      {N.footer[locale].map((i) => <li><Link href={i.path}>{i.title}</Link></li>)}
    </ul>
  </nav>
</footer>
