---
import Icon from '../../components/Icon.astro';
import type { Locale } from '../../configuration';
import { useTranslations } from '../../utils/i18n';

type Props = {
  locale: Locale;
};

const { locale } = Astro.props;
const t = useTranslations(locale);
---
<div id="top-bar" class="padded">
  <a href={`mailto:${t('contact.email.value')}`}><Icon name="email" />{t('contact.email.display')}</a>
  <a href={`tel:${t('contact.phone.value')}`}><Icon name="phone" />{t('contact.phone.display')}</a>
</div>
