---
import { getCollection } from 'astro:content';
import { splitLocaleFromPath } from '@timelet/i18n';
import slugify from 'limax';

export async function getStaticPaths() {
  const pages = await getCollection('blog');

  const paths = pages.map(page => {
    const split = splitLocaleFromPath(page.slug);
    const locale = split ? split.locale : 'de';
    const path = slugify(page.data.title);

    return { params: { lang: locale, slug: path }, props: page };
  });

  console.log(paths);

  return paths;
}

const { lang, slug } = Astro.params;
const page = Astro.props;

const { Content } = await page.render();
---
<h1>{lang}{slug}</h1>
<Content/>
